{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}

<h2>My Watchlist</h2>

    {% if mywatchlist %} 

        {% for listing in mywatchlist %}
        <div class="card bg-light mb-3 border-secondary mb-3">
            <img src="{{ listing.url }}" alt="Card image cap" width="300">
                <h5 class="card-header">Meme Title: {{ listing.listing_name }}</h5>
                    <div class="card-body">
                        <p class="card-text">Meme Seller: {{ listing.seller }}</p>
                        <p class="card-text">Meme Start Price: ${{ listing.start_price }}</p>
                        {% if listing.latestbid %}
                        <p class="card-text">Meme Current Highest Bid: ${{ listing.latestbid }} by {{ listing.latestbid.bidder }}</p>
                        {% else %}
                        <p class="card-text">Go to "Meme Detail" to place your bid!</p>
                        {% endif %}
                        <p class="card-text">Meme Auction Created: {{ listing.created }}</p>
                        <p class="card-text">Meme Description: {{ listing.description }}</p>
                        <p class="card-text">Meme Comedy Category: {{ listing.comedy_category }}</p>
                        <a href="{% url 'listing_detail' listing.id %}" class="btn btn-primary"> Meme Detail</a>
                    </div>
        </div> 
        <br>        
        {% endfor %}
    {% else %}
        <div>
            <p>Your watchlist is empty!</p>
        </div>
        {% endif %}
{% endblock %} 
